[Unit]
Description=Gmeow SCHEDULER gRPC service
PartOf=gmeow.target
After=network-online.target rabbitmq-server.service gmeow-filestore.service gmeow-query.service

[Service]
Type=simple
User=gmeow
Group=gmeow
RuntimeDirectory=gmeow
RuntimeDirectoryMode=0755
Environment=GMEOW_CONFIG=/etc/gmeow/gmeow.toml
ExecStart=/usr/local/bin/gmeow scheduler-serve
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=gmeow.target
