[Unit]
Description=Gmeow core data services
PartOf=gmeow.target
Wants=gmeow-filestore.service gmeow-query.service gmeow-scheduler.service
After=network-online.target postgresql.service rabbitmq-server.service

[Install]
WantedBy=gmeow.target
